@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" />
<div id="react-app">
    <div class='ui active centered inline loader' style="position: absolute; left: 48%; top: 40%;"></div>
</div>

@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
